@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font_outline_2 {
    -webkit-text-stroke: 1px black; /* For Webkit browsers */
    text-stroke: 1px black;
  }
}


@font-face {
  font-family: "aeroMatics_r";
  src: local("aeroMatics-regular"),
    url("./assets/fonts/Aero-Matics-Regular.ttf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "aileron_b";
  src: local("aileron-bold"),
    url("./assets/fonts/Aileron-Bold.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "aileron_sb";
  src: local("aileron-semibold"),
    url("./assets/fonts/Aileron-SemiBold.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "aileron_r";
  src: local("aileron-regular"),
    url("./assets/fonts/Aileron-Regular.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "aileron_l";
  src: local("aileron-light"),
    url("./assets/fonts/Aileron-Light.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "albra_sans_b";
  src: local("albra-sans-bold"),
    url("./assets/fonts/AlbraTRIAL-Bold.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "albra_sans_sb";
  src: local("albra-sans-semibold"),
    url("./assets/fonts/AlbraTRIAL-Semi.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "albra_sans_m";
  src: local("albra-sans-medium"),
    url("./assets/fonts/AlbraTRIAL-Medium.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "albra_sans_r";
  src: local("albra-sans-regular"),
    url("./assets/fonts/AlbraTRIAL-Regular.otf") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "albra_sans_l";
  src: local("albra-sans-light"),
    url("./assets/fonts/AlbraTRIAL-Light.otf") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply font-aileron_r;
  box-sizing: border-box;
  color: #1c1c1c;
  font-size: 16px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  color: black;
}

.react-multi-carousel-list .react-multi-carousel-dot-list {
  bottom: 20px;
}

.react-multi-carousel-list .react-multi-carousel-dot button {
  border: none;
  background: #ffffff82;
}

.react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background: white;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.animate_zoom {
  animation: appear 2s linear;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  border: 1px Solid #dfe2e2;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
	background-color: #FFFFFF;
	border: 1px Solid #DFE2E2;
      } */

/* When the radio button is checked, add a background */
.container input:checked ~ .checked-active {
  background-color: #ff7a21;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: white;
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
